[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = https://github.com/clente/hugo-bearcub
[submodule "themes/hugo-tufte"]
	path = themes/hugo-tufte
	url = https://github.com/slashformotion/hugo-tufte
