.brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.brand h1.with-pronunciation {
    line-height: 0;
}

.menu ul {
    width: 100%;
}

@media (max-width: 375px) {
    .menu ul {
        font-size: 1.1em;
    }
}

.pronunciation {
    padding-left: 2.4rem;
    font-style: italic;
    font-size: 1.32rem;
    font-weight: 400;
}