.content-meta {
    display: block;
    /* color: rgba(155, 155, 155, 1); */
    /* color: rgba(100, 105, 110, 1); */
    font-size: 1.1rem;
    margin-top: 1em;
}

.content-meta {
    color: rgba(100, 105, 105, 1);
    font-style:italic;
}

.content-meta .author {
    font-weight: 500;
    font-size: 1em;
}

.content-meta .date {
    font-size: 0.92em;
    font-weight: 500;
}

.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
