{{ define "main" }}

<div id="layout" class="pure-g">
<article id="main">

{{ partial "brand.html" . }}
{{ partial "content.header.html" . }}

<section class="list-page">
{{ range .Data.Pages.GroupByDate "2006" }}
  <ul class="outer">
      <li class="year">{{ .Key }}
          {{ range .Pages.GroupByDate "January" }}
          <ul class="inner">
              {{ range .Pages }}
              <li>
                  <span class="list-date">{{ .Date.Format "Jan 2" }} &middot;</span>
                  <a href="{{ .RelPermalink }}">{{.Title}}</a>
              </li>
              {{ end }}
          </ul>
      </li>
  </ul>
    {{ end }}
    {{ end }}
</section>

    {{ partial "footer.html" . }}

</article>
</div>

{{ end }}
