$serif-fonts: "EB Garamond", "Garamond", "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
$sans-fonts: "Gill Sans", Calibri, sans-serif;
$mono-fonts: "Ubuntu Mono", "Liberation Mono", Menlo, Courier, monospace;

:root * {
  text-align: left;
  text-rendering: optimizeLegibility;
}

:focus {
  outline: medium auto currentColor;
  outline: medium auto invert;
  outline: 5px auto -webkit-focus-ring-color;
}

::selection {
  color: #fffff8;
  background-color: #404040;
}

body {
  padding-right: 12.5%;
}

@media (max-width: 375px) {
  body {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
}

@media (max-width: 415px) {
  body {
    padding-left: 10.25%;
    padding-right: 10.25%;
  }
}

section:first-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

section:last-child {
  margin-bottom: 1em;
}

.content-title {
  font-size: 2.4rem;
  margin-top: 1.2rem;
  width: 70%;
  min-width: 19.08rem;
}

section h2:first-child {
  margin-top: 2.75rem;
}

a.heading-anchor {
  display: none;
  visibility: collapse;
}

h2 {
  margin-top: 5.5rem;
}

h2:hover > a.heading-anchor,
h3:hover > a.heading-anchor {
  display: inline;
  visibility: visible;
}

hr {
  text-align: left;
  width: 75%;
  max-width: 45rem;
  margin: 1.4rem 0 1.4rem 0;
  display: block;
  border: none;
  height: 1px;
  background: #0071B9;
  background: linear-gradient(to right, white, #aaa, #333, #aaa, white);
}

kbd {
  border: 1px #111 solid;
  border-radius: 5px;
  padding-right: 2px;
  padding-left: 2px;
}

mark {
  background: #f0d9bb;
}

.list-page {
  ul {
    list-style-type: none;
    padding: 0 0 0 1.25em;
  }

  ul.outer {
    /* margin: -0.25em -0.25em -0.25em -0.99em; */
    margin: 0 0 0.5em 0;
    width: 100%;
    max-width: 45rem;
  }
  li {
    margin: 0;
    padding-left: 0;
    /* font-size: 95%; */
  }
  ul.inner {
    width: 100%;
    padding-left: 1em;
  }
}
.list-page .list-date {
  display: inline;
  font-size: 0.75em;
  /* padding-right: 2em; */
  /* margin-right: 2em; */
}

table:not(.lntable) {
  margin-top: 1.4em;
  font-size: 1.4rem;
  width: auto;
  /* margin: 0 auto; */
  /* border-spacing: 0px; */
}

table:not(.lntable) tr th {
  border-bottom: 1px solid #111;
  text-transform: uppercase;
}

table:not(.lntable) tr th,
table:not(.lntable) tr td {
  padding-right: 0.5rem;
}

table.lntable {
  td.lntd {
    padding: 0em;
  }
  border-spacing: 0;
  padding: 0;
}

.footnotes hr {
  margin-top: 4.4em;
}

.footnotes ol {
  width: 55%;
  margin-top: 4.4rem;

  li {
    p {
      width: 100%;
      margin: 0;
      padding: 0;

      a.footnote-backref {
        font-size: 1.2rem;
        text-decoration: none;
      }
    }
  }
}

mjx-container[jax="CHTML"][display="true"],
.katex-display {
  overflow: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /** scrollbar-width: none; **/
}

.marginnote .marginnote-ind,
.sidenote .sidenote-number {
  margin-right: 5px;
}

/* prevent over-crowding */

.sidenote, .marginnote {
  margin-bottom: 1rem;
}

.sidenote code,
.marginnote code {
  font-size: 0.9rem;
}

.row {
  /** Mobile **/
  display: grid;
  width: 75%;
  gap: 0.3rem;
  margin: 0 0 1rem 0;
}

.row .column:nth-of-type(2n) {
  margin-left: 1rem;
}

.row .column:nth-of-type(3n) {
  margin-left: 2rem;
}

.row .column > p:first-child {
  margin-top: 0;
}

.row .column > p:last-child {
  margin-bottom: 0;
}

@media (min-width: 760px) {
  .row {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 1.4rem;
    margin: 0 0 1.4rem 0;
  }
  .row .column {
    margin-left: 0 !important;
  }
}

.column > p {
  width: 100%;
}

.column > p > label.margin-toggle.marginnote-ind {
  display: inline;
}

.column > p > .sidenote,
.column > p > .marginnote {
  display: none;
}

.column > p > .margin-toggle:checked + .sidenote,
.column > p > .margin-toggle:checked + .marginnote {
  display: block;
  float: left;
  left: 1rem;
  clear: both;
  width: 95%;
  margin: 1rem 2.5%;
  vertical-align: baseline;
  position: relative;
}

.btn {
  display: inline-block;
  margin-top: 1.4rem;
}
.btn button {
  font-size: 1.4rem;
}
.btn button .icon {
  font-size: 1.2rem;
}

p:lang(zh), span:lang(zh),
p:lang(ja), span:lang(ja), {
  font-size: 1.2rem;
}

.sidenote:lang(zh),
.marginnote:lang(zh) {
  font-size: 0.5rem;
}

.sidenote:lang(ja),
.marginnote:lang(ja) {
  font-size: 0.9rem;
}

.substance a {
  font-style: italic;
  font-weight: 600;
}

.substance p {
  font-size: 1.2em;
  hyphens: none;
  text-align: left;
  width: 70%;
}

.appearance {
  position: absolute;
  top: 1.25em;
  right: 1.75em;
  cursor: pointer;
}

.appearance img.dark {
  filter: invert(1) brightness(1.3) !important;
}

.appearance .light {
  filter: saturate(0.75) !important;
}

@media screen and (max-width: 376px) {
  h2, h3, p, footer {
    width: 100%;
    min-width: 19.886rem;
  }
}

@media screen and (min-width: 375px) {
  h2, h3, p, footer {
    min-width: 100%;
  }
}

@media screen and (min-width: 800px) {
  h2, h3, p, footer {
    min-width: 70%;
  }
}

