@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@import "tailwindcss";


/* Don't mess with this or utility classes won't work */
@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }
}


body {
  font-family: "Inter";
  overflow-x: hidden;
  @apply bg-slate-100 dark:bg-slate-950;
  @apply text-slate-950;
}

.eb-garamond {
  font-family: "EB Garamond";
  font-optical-sizing: auto;
}

.yellowtail {
  font-family: "Yellowtail";
  font-optical-sizing: auto;
}

.active {
  @apply border-b-2 border-dashed border-gray-950;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.animate-fade {
  animation: fade 10s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  .text-neon {
    color: #fff;
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 42px #FF0099,
      0 0 82px #FF0099,
      0 0 92px #FF0099,
      0 0 102px #FF0099,
      0 0 151px #FF0099;
  }

  .animate-neon {
    animation: pulsate 3s infinite alternate;
  }
}



@keyframes pulsate {

  100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #FF0099,
      0 0 80px #FF0099,
      0 0 150px #FF0099;
  }

  0% {
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 10px #FF0099,
      0 0 45px #FF0099,
      0 0 80px #FF0099;
  }

}
