
footer.page-footer{
    color: #aaa;
    width: 95%;
    max-width: 45rem;
}

footer.page-footer a {
    color: rgba(65, 70, 75, 1);
    text-decoration: none;
    background: transparent;
}
footer.page-footer hr {
    width: 100%;
}

footer.page-footer ul.page-footer-menu {
	list-style: none;
	display: block;
	/* text-align:center; */
	margin: 3rem 0 0 0;
	padding: 0;
    width: unset;
}

footer.page-footer ul.page-footer-menu li {
	display: inline-block;
	margin-right: 0.5rem;
	/* font-size: 55%; */
}

.copyright p {
  font-size: 1rem;
  font-family: $sans-fonts;
  font-weight: 400;
}
